body{
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;

}

.dark-mode-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    margin-right: 5px;
  }
  
  .dark-mode-btn i {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 25px;
    color: black;
    
  }

  .dark-mode-btn:hover{
    transform: scale(1.05);
  }
  
.share-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    
}

.share-button i{
    margin-top: 6px;
    margin-left: 8px;
    font-size: 25px;
    color: black;
}

.share-button:hover{
    transform: scale(1.05);
}

.container{
    width: 91%;
    max-width: 480px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 20px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.tile{
    width: 100%;
    background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.tile:hover{
    transform: scale(1.05);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.share-tile{
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.image-container{
    height: auto;
    width: 90px;
    border-radius: 48px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-container img{
    height: 85%;
    width: 100%;
}

.icon{
    margin: 4px 8px;
    font-size: 35px;
}

.share-tile i{
    font-size:23px;
    margin-left: 9px;
    margin-top: 7px;
    
}

/* footer css */
footer{
    padding: 40px 0;
    background-color: black;
    width: 100%;
    color: white;
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
}

footer .social a{
    color: inherit;
    font-size: 24px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0px 8px;
    opacity: 0.75;
    transition: 0.2s ease;
}

footer .social a:hover{
    opacity: 1;
}

footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer .contribution{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: blue;
    
}
  
/* footer css */
